#  oracle identity and access management
#  -------------------------------------
#  configuration of deployment destination
#                              vim: ft=sh :
#

#  this file describes the iam application configuration. it will be sourced 
#  in a bourne shell, so be take care of the syntax, eg. no spaces before 
#  and after the equal sign.

#  location of the oracle install images (nfs mount)
#
#  install share: see provisioning file var IL_INSTALLERDIR_LOCATION
#  install jdk:   one of: install share + installers/jdk/{jdk7,jdk6,jdk}

#  jdk upgrade to jdk7, done in postinstallation. archive to extract and 
#  jdk directory name (inside to archive)
#
     s_jdk=/mnt/oracle/java/jdk-7u85-linux-x64.tar.gz
   jdkname=jdk1.7.0_85

     s_bip=/mnt/oracle/obiee/bishiphome
     s_wls=/mnt/oracle/wls/wls1036_generic.jar

#  hostenv: location of local settings and scripts. new subdirs will be 
#  created there:   bin, lib, .env, .cred
#
       iam_log=${iam_top}/IAM/logs

#  user and group of files and services. not needed when you use a 
#  ready root-script.sh. iam_user_umask is needed always.
#
      iam_user=fmwuser
     iam_group=fmwgroup
iam_user_umask=0007

#  hostnames, order: oud(s), oam(s), oim(s), web(s)
# provhosts=( oim1 web1 )
domiAdminHost=$(hostname -f)

# oia - identity analytics
# #   inside current: {sql,app-archive}
# #                 
                s_oia=/mnt/oracle/oia-11.1.1.5/current
             oia_name=p18629532_111150_Generic.zip
       iam_domain_oia=oia_iamv2

#  location of the ora inventory pointer and the inventoriy itself.
#  this inventory will be used only for LCM. other inventories 
#  will be located inside the middleware homes (e.g. products/identity/)
#  sample content (two lines):
#    inventory_loc=/appl/oraInventory
#    inst_group=oinstall
#
iam_orainv_ptr=/l/ora/lcm/oraInst.loc
    iam_orainv=/l/ora/lcm/oraInventory
iam_orainv_grp=oinstall

#  database settings for rcu
#  connect string:
#     host1:port1:instance1^host2:port2:instance2@servicename
#
         dbs_dbhost=oradb.iam7.agoracon.at
    iam_servicename=iam1
            iam_sid=iam1
     iam_oim_prefix=IAM1I
     iam_oam_prefix=IAM1A
     iam_bip_prefix=IAM1B
iam_oim_schema_pass=Montag11
iam_oam_schema_pass=Montag11
       iam_dba_pass=Montag11

# reverse proxy config - used in the iam-post.sh script.
#
_VHDEF="NameVirtualHost 192.168.168.30\\
<VirtualHost 192.168.168.30>\\
\\
"
        PROV_HEADER_IDM="${_VHDEF} ServerName         idm.iam7.agoracon.at"
     PROV_HEADER_OAMADM="${_VHDEF} ServerName      oamadm.iam7.agoracon.at"
     PROV_HEADER_OIMADM="${_VHDEF} ServerName      oimadm.iam7.agoracon.at"
PROV_HEADER_IDMINTERNAL="${_VHDEF} ServerName idminternal.iam7.agoracon.at"
        PROV_HEADER_SSO="${_VHDEF} ServerName         sso.iam7.agoracon.at"

   PROV_CONN_OIM="WebLogicHost iam7.agoracon.at\\
    WebLogicPort 8005"
   PROV_CONN_SOA="WebLogicHost iam7.agoracon.at\\
    WebLogicPort 8001"
PROV_CONN_OIMADM="WebLogicHost iam7.agoracon.at\\
    WebLogicPort 7001"

#   PROV_CONN_OAM="WebLogicCluster dwptoam1:14100,dwptoam2:14100"
#   PROV_CONN_OIM="WebLogicCluster dwptoim1:14000,dwptoim2:14000"
#   PROV_CONN_SOA="WebLogicCluster dwptoim1:8001,dwptoim2:8001"
#PROV_CONN_OAMADM="WebLogicHost iam7.agoracon.at\\
#    WebLogicPort 7001"
#PROV_CONN_OIMADM="WebLogicHost iam7.agoracon.at\\
#    WebLogicPort 7101"
