/Vagrantfile
#/user-config/*.config
#/user-config/dbs/*.rsp
#/user-config/lcm/*.rsp
#/user-config/iam/*.rsp
#/user-config/iam/provisioning_data
/.vagrant
_attic
/_releases
/sw
/attic
/tmp
/results
*.orig
/user-config
/patches
/PASSWORD*
/snapshot
