#  this is how the new database server will look like.
#+ file will be sourced, so please keep shell syntax.
#+ some of the values need to be specified again in the 
#+ repsonse files.

#  paths to install images. in this example the database files are
#+ extracted to $s_img_db.
# s_img_db=/mnt/oracle/database-ee-11.2.0.4/p13390677_112040_Linux-x86-64
  s_img_db=/appdata/OIM/OIM_11gR2p2/dbs
#  in s_patches are all patch files, already extracted
 s_patches=/appdata/OIM/OIM_11gR2p2/patches
#  since the idm/iam database schemas are created, this is where 
#+ RCU is located and a JDK to run it
#s_rcu_home=/mnt/oracle/iam-11.1.2.2/repo/installers/fmw_rcu/linux/rcuHome
s_rcu_home=/appdata/OIM/OIM_11gR2p2/oracle.com/installers/fmw_rcu/linux/rcuHome

#s_runjdk=/appdata/OIM/OIM_11gR2p2/oracle.com/installers/jdk/jdk6

#  location of the Oracle inventory pointer.  config file with 
#+ two entries:
#+ * location of the system wide ora invertory
#+ * posix user group with write permissions on the inventory
dbs_orainv_ptr=/etc/oraInst.loc

#  user and group of files and services. define the resources in the 
#+ system config script (s1-owt-sysconf.sh). user and group is 
#+ mandatory, umask default to the os setting. the two areas define 
#+ the base directories for installation and logging. they will be 
#+ created when missing.
dbs_dbhost=dwpidmdev02.admnet.fits
dbs_user=oracle
dbs_group=oinstall
dbs_user_umask=0027
dbs_app=/opt/oracle
dbs_log=/var/log/oracle

##  ------------------------------------------------------------------
##  java settings
#dbs_java_home=/appl/dbs/jdk
#
##  shall we use the urandom device (unblocking instead of blocking)? 
##+ will result in quicker startup and connection rampup times.
#dbs_java_urandom=true
#
##  shall we replace the jdk cacerts?
##+ no....... keep jdk default cacerts
##+ add...... add custom cacerts (not supported yet)
##+ replace.. replace with custom certs (recommended and default)
#dbs_java_cacerts=no
#
##  shall we create a soft link named current?  this path can be 
##+ used in e.g. environment variables to keep consistent over 
##+ JDK uprades. leave this empty will create no link.
#dbs_java_current=/appl/dbs/jdk/current
