#  oracle identity and access management
#  configuration of deployment destination
#
## # s_runjre=/appdata/OIM/OIM_11gR2p2/oracle.com/installers/jdk/jdk6/jre

       s_bip=/appdata/install/oracle/obiee/bishiphome
       s_wls=/appdata/install/oracle/weblogic/wls1036_generic.jar
       s_jdk=/appdata/install/oracle/java/jdk-7u76-linux-x64.tar.gz

    s_runjdk=/opt/oracle/jdk1.7.0_60
    s_runjre=/opt/oracle/jdk1.7.0_60/jre
       s_lcm=/appdata/OIM/OIM_11gR2p2/oracle.com/installers/idmlcm
  s_rcu_home=/appdata/install/oracle/obiee/rcuHome
# s_rcu_home=/appdata/OIM/OIM_11gR2p2/oracle.com/installers/fmw_rcu/linux/rcuHome

#  this file describes the iam application configuration. it will be sourced 
#  in a bourne shell, so be take care of the syntax, eg. no spaces before 
#  and after the equal sign.

#  location of the so called ora inventory pointer.  config file with 
#  two entries:
#  * location of the system wide ora invertory
#  * posix user group with write permissions on the inventory
#  sample content (two lines):
#    inventory_loc=/appl/oraInventory
#    inst_group=oinstall
#
     iam_orainv_ptr=/etc/oraInst.loc
         iam_orainv=/opt/oracle/oraInventory
     iam_orainv_grp=oinstall

#  user and group of files and services. define the resources in the 
#+ system config script (s1-owt-sysconf.sh). user and group is 
#+ mandatory, umask default to the os setting. the two areas define 
#+ the base directories for installation and logging. they will be 
#+ created when missing.
#
           iam_user=fmwuser
          iam_group=fmwgroup
     iam_user_umask=0007
            iam_app=/opt/fmw
            iam_top=/opt/fmw
        iam_mw_home=/opt/fmw
            iam_log=/var/log/fmw


#  database settings
#  connect string:
#     host1:port1:instance1^host2:port2:instance2@servicename
#     oradb.dwpbank.net:1521:jueves

         dbs_dbhost=dwpidmdev02.admnet.fits
    iam_servicename=idmdev2
            iam_sid=idmdev2
     iam_oim_prefix=DIM2
     iam_oam_prefix=DAM2
     iam_bip_prefix=DBI2
iam_oim_schema_pass=Montag11
iam_oam_schema_pass=Montag11
iam_bip_schema_pass=Montag11
       iam_dba_pass=Montag11

