#  oracle identity and access management
#+ configuration of deployment destination

  s_runjdk=/opt/install/dwpbank/iam-base/iam-11.1.2.2/repo/installers/jdk/jdk7
  s_runjre=/opt/install/dwpbank/iam-base/iam-11.1.2.2/repo/installers/jdk/jdk7/jre
     s_lcm=/opt/install/dwpbank/iam-base/iam-11.1.2.2/repo/installers/idmlcm
#s_rcu_home=/vagrant/sw/rcu/rcuHome

     s_bip=/opt/install/dwpbank/iam-base/obiee/bishiphome
     s_wls=/opt/install/dwpbank/iam-base/wls/wls1036_generic.jar
     s_jdk=/opt/install/dwpbank/iam-base/jdk/jdk-7u76-linux-x64.tar.gz
   jdkname=jdk1.7.0_76

#  this file describes the iam application configuration. it will be sourced 
#  in a bourne shell, so be take care of the syntax, eg. no spaces before 
#  and after the equal sign.

#  location of the ora inventory pointer.  config file with two entries:
#    * location of the system wide ora invertory
#    * posix user group with write permissions on the inventory
#  sample content (two lines):
#    inventory_loc=/appl/oraInventory
#    inst_group=oinstall
#
iam_orainv_ptr=/opt/fmw/etc/oraInst.loc
    iam_orainv=/opt/fmw/etc/oraInventory
iam_orainv_grp=fmwgroup

#  user and group of files and services. define the resources in the 
#+ system config script (s1-owt-sysconf.sh). user and group is 
#+ mandatory, umask default to the os setting. the two areas define 
#+ the base directories for installation and logging. they will be 
#+ created when missing.
#
      iam_user=fmwuser
     iam_group=fmwgroup
iam_user_umask=0007
       iam_app=/opt/fwm
   iam_mw_home=/opt/fmw
       iam_log=/var/log/fmw

#  database settings
#  connect string:
#     host1:port1:instance1^host2:port2:instance2@servicename
#     oradb.dwpbank.net:1521:jueves
#
         dbs_dbhost=dwptpwl-plte1
    iam_servicename=IAMINT1
            iam_sid=IAMINT
     iam_oim_prefix=DIM
     iam_oam_prefix=DAM
     iam_bip_prefix=DBI
iam_oim_schema_pass=Montag11
iam_oam_schema_pass=Montag11
       iam_dba_pass=HanS0l0

# reverse proxy config
#
_VHDEF="NameVirtualHost 97.0.105.250\\
<VirtualHost 97.0.105.250>\\
\\
"
        PROV_HEADER_IDM="${_VHDEF} ServerName         idm.int.dwpbank.net"
     PROV_HEADER_OAMADM="${_VHDEF} ServerName      oamadm.int.dwpbank.net"
     PROV_HEADER_OIMADM="${_VHDEF} ServerName      oimadm.int.dwpbank.net"
PROV_HEADER_IDMINTERNAL="${_VHDEF} ServerName idminternal.int.dwpbank.net"
        PROV_HEADER_SSO="${_VHDEF} ServerName         sso.int.dwpbank.net"

   PROV_CONN_OAM="WebLogicHost dwptoim3.dwpbank.net\\
    WebLogicPort 14100"
   PROV_CONN_OIM="WebLogicHost dwptoim3.dwpbank.net\\
    WebLogicPort 14000"
   PROV_CONN_SOA="WebLogicHost dwptoim3.dwpbank.net\\
    WebLogicPort 8001"
PROV_CONN_OAMADM="WebLogicHost dwptoim3.dwpbank.net\\
    WebLogicPort 7001"
PROV_CONN_OIMADM="WebLogicHost dwptoim3.dwpbank.net\\
    WebLogicPort 7101"

#   PROV_CONN_OAM="WebLogicCluster dwptoam1:14100,dwptoam2:14100"
#   PROV_CONN_OIM="WebLogicCluster dwptoim1:14000,dwptoim2:14000"
#   PROV_CONN_SOA="WebLogicCluster dwptoim1:8001,dwptoim2:8001"
#PROV_CONN_OAMADM="WebLogicHost dwptoam1.dwpbank.net\\
#    WebLogicPort 7001"
#PROV_CONN_OIMADM="WebLogicHost dwptoim1.dwpbank.net\\
#    WebLogicPort 7101"
