#  oracle identity and access management
#  -------------------------------------
#  configuration of deployment destination
#                              vim: ft=sh :
#

#  this file describes the iam application configuration. it will be sourced 
#  in a bourne shell, so be take care of the syntax, eg. no spaces before 
#  and after the equal sign.

#  location of the oracle install images (nfs mount)
#
  s_runjdk=/mnt/oracle/iam-11.1.2.2/repo/installers/jdk/jdk7
  s_runjre=/mnt/oracle/iam-11.1.2.2/repo/installers/jdk/jdk7/jre
     s_lcm=/mnt/oracle/iam-11.1.2.2/repo/installers/idmlcm
s_rcu_home=/mnt/oracle/iam-11.1.2.2/repo/installers/fmw_rcu/linux/rcuHome

#  upgrading to jdk7 with image and new directory name
     s_jdk=/mnt/oracle/images/java/java7/jdk-7u76-linux-x64.tar.gz
   jdkname=jdk1.7.0_76

     s_bip=/mnt/oracle/obiee/bishiphome
     s_wls=/mnt/oracle/wls/wls1036_generic.jar

# what products from the suite. currently only used for RCU
#
DO_IDM=yes
DO_ACC=no
DO_BIP=no
DO_WEB=yes
DO_OUD=no

#  the installation destonation directories, see root-script for details
#
       iam_top=/l/ora
   iam_hostenv=${iam_top}/home
       iam_log=${iam_top}/IAM/logs
       iam_lcm=${iam_top}/lcm/lcm

#  user and group of files and services. not needed when you use a 
#  ready root-script.sh. iam_user_umask is needed always.
#
      iam_user=fmwuser
     iam_group=fmwgroup
iam_user_umask=0007

#  location of the ora inventory pointer.  config file with two entries:
#    * location of the system wide ora invertory
#    * posix user group with write permissions on the inventory
#  sample content (two lines):
#    inventory_loc=/appl/oraInventory
#    inst_group=oinstall
#
iam_orainv_ptr=${iam_top}/etc/oraInst.loc
    iam_orainv=${iam_top}/etc/oraInventory
iam_orainv_grp=oinstall

#  database settings for rcu.
#  connect string:
#     host1:port1:instance1^host2:port2:instance2@servicename
#     oradb.iamvs.agoracon.at:1521:iam1
#
         dbs_dbhost=oradb.iamvs.agoracon.at
    iam_servicename=iam1
            iam_sid=iam1
     iam_oim_prefix=IAM1I
     iam_oam_prefix=IAM1A
     iam_bip_prefix=IAM1B
iam_oim_schema_pass=Montag11
iam_oam_schema_pass=Montag11
       iam_dba_pass=Montag11

# reverse proxy config - used in the iam-post.sh script.
#
_VHDEF="NameVirtualHost 192.168.168.30\\
<VirtualHost 192.168.168.30>\\
\\
"
        PROV_HEADER_IDM="${_VHDEF} ServerName         idm.iamvs.agoracon.at"
     PROV_HEADER_OAMADM="${_VHDEF} ServerName      oamadm.iamvs.agoracon.at"
     PROV_HEADER_OIMADM="${_VHDEF} ServerName      oimadm.iamvs.agoracon.at"
PROV_HEADER_IDMINTERNAL="${_VHDEF} ServerName idminternal.iamvs.agoracon.at"
        PROV_HEADER_SSO="${_VHDEF} ServerName         sso.iamvs.agoracon.at"

   PROV_CONN_OAM="WebLogicHost iamvs.agoracon.at\\
    WebLogicPort 14100"
   PROV_CONN_OIM="WebLogicHost iamvs.agoracon.at\\
    WebLogicPort 14000"
   PROV_CONN_SOA="WebLogicHost iamvs.agoracon.at\\
    WebLogicPort 8001"
PROV_CONN_OAMADM="WebLogicHost iamvs.agoracon.at\\
    WebLogicPort 7001"
PROV_CONN_OIMADM="WebLogicHost iamvs.agoracon.at\\
    WebLogicPort 7101"

#   PROV_CONN_OAM="WebLogicCluster dwptoam1:14100,dwptoam2:14100"
#   PROV_CONN_OIM="WebLogicCluster dwptoim1:14000,dwptoim2:14000"
#   PROV_CONN_SOA="WebLogicCluster dwptoim1:8001,dwptoim2:8001"
#PROV_CONN_OAMADM="WebLogicHost iamvs.agoracon.at\\
#    WebLogicPort 7001"
#PROV_CONN_OIMADM="WebLogicHost iamvs.agoracon.at\\
#    WebLogicPort 7101"
