#  oracle identity and access management
#  configuration of deployment destination
#
#   s_runjdk=/mnt/oracle/iam-11.1.2.2/repo/installers/jdk/jdk6
#   s_runjre=/mnt/oracle/iam-11.1.2.2/repo/installers/jdk/jdk6/jre
#      s_lcm=/mnt/oracle/iam-11.1.2.2/repo/installers/idmlcm
# s_rcu_home=/mnt/oracle/iam-11.1.2.2/repo/installers/fmw_rcu/linux/rcuHome
       s_bip=/vagrant/sw/obiee/bishiphome
       s_wls=/vagrant/sw/wls/wls1036_generic.jar
       s_jdk=/vagrant/sw/jdk/jdk1.7.0_71.tar.gz

    s_runjdk=/opt/fmw/identity/jdk/current
    s_runjre=/opt/fmw/identity/jdk/current/jre
       s_lcm=/mnt/oracle/iam-11.1.2.2/repo/installers/idmlcm
  s_rcu_home=/vagrant/sw/rcu/rcuHome

#  this file describes the iam application configuration. it will be sourced 
#  in a bourne shell, so be take care of the syntax, eg. no spaces before 
#  and after the equal sign.

#  location of the so called ora inventory pointer.  config file with 
#  two entries:
#  * location of the system wide ora invertory
#  * posix user group with write permissions on the inventory
#  sample content (two lines):
#    inventory_loc=/appl/oraInventory
#    inst_group=oinstall
#
     iam_orainv_ptr=/etc/oraInst.loc
         iam_orainv=/opt/oracle/oraInventory
     iam_orainv_grp=oinstall

#  user and group of files and services. define the resources in the 
#+ system config script (s1-owt-sysconf.sh). user and group is 
#+ mandatory, umask default to the os setting. the two areas define 
#+ the base directories for installation and logging. they will be 
#+ created when missing.
#
           iam_user=fmwuser
          iam_group=fmwgroup
     iam_user_umask=0007
            iam_app=/opt
            iam_top=/opt/fmw
            iam_log=/var/log/fmw

        iam_mw_home=/opt/fmw

#  database settings
#  connect string:
#     host1:port1:instance1^host2:port2:instance2@servicename
#     oradb.dwpbank.net:1521:jueves

         dbs_dbhost=oradb.dwpbank.net
    iam_servicename=jueves.dwpbank.net
            iam_sid=jueves
     iam_oim_prefix=DIM
     iam_oam_prefix=DAM
     iam_bip_prefix=DBI
iam_oim_schema_pass=Montag11
iam_oam_schema_pass=Montag11
iam_bip_schema_pass=Montag11
       iam_dba_pass=Montag11

