#  this is how the new database server will look like.
#+ file will be sourced, so please keep shell syntax.
#+ some of the values need to be specified again in the 
#+ repsonse files.

#  paths to install images. in this example the database files are
#+ extracted to $s_img_db.
  s_img_db=/mnt/oracle/database-ee-11.2.0.4/p13390677_112040_Linux-x86-64
#  in s_patches are all patch files, already extracted
 s_patches=/mnt/oracle/patches
#  since the idm/iam database schemas are created, this is where 
#+ RCU is located and a JDK to run it
s_rcu_home=/mnt/oracle/iam-11.1.2.3/repo/installers/fmw_rcu/linux/rcuHome
# s_runjdk=/mnt/orainst/oracle-iam-11.1.2.2/repo/installers/jdk/jdk6

#  location of the Oracle inventory pointer.  config file with 
#+ two entries:
#+ * location of the system wide ora invertory
#+ * posix user group with write permissions on the inventory
dbs_orainv_ptr=/etc/oraInst.loc

#  user and group of files and services. define the resources in the 
#+ system config script (s1-owt-sysconf.sh). user and group is 
#+ mandatory, umask default to the os setting. the two areas define 
#+ the base directories for installation and logging. they will be 
#+ created when missing.
dbs_dbhost=iamvs.agoracon.at
dbs_sid=iamvs
dbs_user=oracle
dbs_group=oinstall
dbs_user_umask=0027
dbs_app=/opt/oracle
dbs_log=/var/log/oracle
