#  oracle identity and access management
#  -------------------------------------
#  configuration of deployment destination
#                              vim: ft=sh :
#

#  this file describes the iam application configuration. it will be sourced 
#  in a bourne shell, so take care of the syntax, eg. no spaces before 
#  and after the equal sign.

#  location of the oracle install images (nfs mount)
#
#  install share: see provisioning file var IL_INSTALLERDIR_LOCATION
#  install jdk:   one of: install share + installers/jdk/{jdk7,jdk6,jdk}

#  jdk upgrade to jdk7, done in postinstallation. archive to extract and 
#  jdk directory name (inside to archive)
#
     s_jdk=/mnt/oracle/java/jdk-7u85-linux-x64.tar.gz
   jdkname=jdk1.7.0_85

     s_bip=/mnt/oracle/obiee/bishiphome

#  hostenv: location of local settings and scripts. new subdirs will be 
#  created there:   bin, lib, .env, .cred
#
   iam_log=/var/log/fmw

#  user and group of files and services. not needed when you use a 
#  ready root-script.sh. iam_user_umask is needed always.
#
      iam_user=fmwuser
     iam_group=fmwgroup
iam_user_umask=0007

#  hostnames, order: oud(s), oam(s), oim(s), web(s)
provhosts=( $(hostname -f) )

IDMPROV_OIADOMAIN_ADMINSERVER_HOST=$(hostname -f)
IDMPROV_OIADOMAIN_ADMINSERVER_PORT=7003
IDMPROV_OIA_HOST=$(hostname -f)
IDMPROV_OIA_PORT=8003
IDMPROV_SECOND_OIA_HOST=
IDMPROV_SECOND_OIA_PORT=

# virtual host defintions for OHS
#
IDMPROV_LBR_OIAADMIN_HOST=oiaadmin.iamvs.agoracon.at

# oia - identity analytics
#    subdirs:
#      oiadb: sql files taken from zip file, stripped tbs
#      ext:   3rd party jars
#                  
s_oia_archive=/mnt/oracle/oia-11.1.1.5.5af/p18288987_111155_Generic.zip
    s_oia_sql=/mnt/oracle/oia-11.1.1.5.5af/oiadb
    s_oia_ext=/mnt/oracle/oia-11.1.1.5.5af/ext

iam_analytics_home=/opt/fmw/products/analytics
    iam_rbacx_home=/opt/fmw/config/analytics/oia
    iam_domain_oia=oia

#  location of the ora inventory pointer and the inventoriy itself.
#  this inventory will be used only for LCM. other inventories 
#  will be located inside the middleware homes (e.g. products/identity/)
#  sample content (two lines):
#    inventory_loc=/appl/oraInventory
#    inst_group=oinstall
#
iam_orainv_ptr=/opt/fmw/lcm/oraInst.loc
    iam_orainv=/opt/fmw/lcm/oraInventory
iam_orainv_grp=oinstall

#  database settings for rcu
#  connect string:
#     host1:port1:instance1^host2:port2:instance2@servicename
#
         dbs_dbhost=oradb.iamvs.agoracon.at
    iam_servicename=iamvs.agoracon.at
            iam_sid=iamvs
     iam_oim_prefix=DIM
     iam_oam_prefix=DAM
     iam_bip_prefix=DOP
#    iam_oid_dbuser also specified in oia/dbcreate.sql and oia/dbdrop.sql
     iam_oia_dbuser=DAN_OIA
iam_oim_schema_pass=Montag11
iam_oam_schema_pass=Montag11
iam_oia_schema_pass=Montag11
       iam_dba_pass=Montag11

