#  oracle identity and access management
#  -------------------------------------
#  configuration of deployment destination
#                              vim: ft=sh :
#

#  this file describes the iam application configuration. it will be sourced 
#  in a bourne shell, so be take care of the syntax, eg. no spaces before 
#  and after the equal sign.

#  location of the oracle install images (nfs mount)
#
#  install share: see provisioning file var IL_INSTALLERDIR_LOCATION
#  install jdk:   one of: install share + installers/jdk/{jdk7,jdk6,jdk}

#  jdk upgrade to jdk7, done in postinstallation. archive to extract and 
#  jdk directory name (inside to archive)
#
     s_jdk=/mnt/oracle/iam-11.1.2.2/repo/installers/jdk/jdk-7u67-linux-x64.tar.gz
   jdkname=jdk1.7.0_67

     s_bip=/mnt/oracle/obiee/bishiphome
     s_wls=/mnt/oracle/wls/wls1036_generic.jar

# log space
#
   iam_log=/l/ora/IAM/logs

#  user and group of files and services. not needed when you use a 
#  ready root-script.sh. iam_user_umask is needed always.
#
      iam_user=fmwuser
     iam_group=fmwgroup
iam_user_umask=0007

#  hostnames, order: oud(s), oam(s), oim(s), web(s)
    provhosts=( oim1 oim2 web1 web2 )

domiAdminHost=oim1.iamvc.agoracon.at
domlAdminHost=oim1.iamvc.agoracon.at
iam_oia_host1=oim1.iamvc.agoracon.at
iam_oia_host2=oim2.iamvc.agoracon.at

# declare -A host-services
# host-services["oim1"]="nodemanager idm-AdminServer idm-wls_soa1 idm-wls_oim1"
# host-services["oim2"]="nodemanager idm-wls_soa1 idm-wls_oim1"
# host-services["web1"]="ohs1"
# host-services["web2"]="ohs2"

#  location of the ora inventory pointer and the inventoriy itself.
#  this inventory will be used only for LCM. other inventories 
#  will be located inside the middleware homes (e.g. products/identity/)
#  sample content (two lines):
#    inventory_loc=/appl/oraInventory
#    inst_group=oinstall
#
iam_orainv_ptr=/l/ora/lcm/oraInst.loc
    iam_orainv=/l/ora/lcm/oraInventory
iam_orainv_grp=oinstall

# oia - identity analytics
# #   inside current: {sql,app-archive}
# #                 
         s_oia=/mnt/oracle/oia-11.1.1.5/current
      oia_name=p18629532_111150_Generic.zip
iam_domain_oia=oia_iamvc

#  database settings for rcu.
#  connect string:
#     host1:port1:instance1^host2:port2:instance2@servicename
#     oradb.iamvs.agoracon.at:1521:oradb11.vie.agoracon.at
#
         dbs_dbhost=oradb11.vie.agoracon.at
    iam_servicename=oradb11.vie.agoracon.at
            iam_sid=oradb11
     iam_oim_prefix=VCI
     iam_oam_prefix=VCA
     iam_bip_prefix=VCB
     iam_bip_dbuser=VCL_OIA
iam_oim_schema_pass=Montag11
iam_oam_schema_pass=Montag11
       iam_dba_pass=Montag11

