#  oracle identity and access management
#  -------------------------------------
#  configuration of deployment destination
#                              vim: ft=sh :
#

#  this file describes the iam application configuration. it will be sourced 
#  in a bourne shell, so be take care of the syntax, eg. no spaces before 
#  and after the equal sign.

#  location of the oracle install images (nfs mount)
#
#  upgrading to jdk7 with image and new directory name
     s_jdk=/mnt/media/IAM_repository/images/java/java7/jdk-7u76-linux-x64.tar.gz
   jdkname=jdk1.7.0_76

     s_bip=/mnt/media/IAM_repository/obiee/bishiphome
     s_wls=/mnt/media/IAM_repository/wls/wls1036_generic.jar

# what products from the suite. currently only used for RCU
#

# log space
#
       iam_log=/l/ora/IAM/logs

#  user and group of files and services. not needed when you use a 
#  ready root-script.sh. iam_user_umask is needed always.
#
      iam_user=fmwuser
     iam_group=fmwgroup
iam_user_umask=0007

#  hostnames, order: oud(s), oam(s), oim(s), web(s)
    provhosts=( bsul0355 bsul0356 )
domiAdminHost=bsul0355.fs01.vwf.vwfs-ad
domlAdminHost=bsul0355.fs01.vwf.vwfs-ad

#  location of the ora inventory pointer.  config file with two entries:
#    * location of the system wide ora invertory
#    * posix user group with write permissions on the inventory
#  sample content (two lines):
#    inventory_loc=/appl/oraInventory
#    inst_group=oinstall
#
iam_orainv_ptr=/l/ora/lcm/oraInst.loc
    iam_orainv=/l/ora/lcm/oraInventory
iam_orainv_grp=oinstall

#  database settings for rcu.
#  connect string:
#     host1:port1:instance1^host2:port2:instance2@servicename
#     oradb.bsul0355.fs01.vwf.vwfs-ad:1521:iam1
#
         dbs_dbhost=bsul0292.fs01.vwf.vwfs-ad
           dbs_port=5193
    iam_servicename=VWFSUM1K
            iam_sid=VWFSUM1K
     iam_oim_prefix=IMK1
     iam_oam_prefix=AMK1
     iam_bip_prefix=BIK1

iam_oim_schema_pass=Montag11
iam_oam_schema_pass=Montag11
       iam_dba_pass=mMNf9a4hN!ZRTeJ!

